@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(100%);
}

.btn {
  @apply px-8 py-4 font-bold sm:px-12 xl:px-20;
}

.btn-primary {
  @apply text-white bg-primary-600 hover:bg-primary-800;
}

.btn-secondary {
  @apply text-white bg-secondary-600 hover:bg-secondary-800;
}

.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:border-primary-500 focus:ring-1 focus:ring-primary-500 block w-full p-2.5
}

.icon-done {
  background-image: url(/assets/images/done_black_18dp.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 24px;
}